.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
PhyloSet_Nipponbare.csv
PhyloSet_N22.csv
Expression_cultivares_PS.csv
dicionario_clados.csv
PhyloSet_Nipponbare_Reps.csv
PhyloSet_N22_Reps.csv
PhyloSet_Nip_Dusk.csv
PhyloSet_Nip_Dawn.csv
PhyloSet_N22_Dusk.csv
PhyloSet_N22_Dawn.csv
nipponbare_full.csv
n22_full.csv
nipponbare_dusk.csv
nipponbare_dawn.csv
n22_dusk.csv
n22_dawn.csv
Final_Automatico_nipponbare_full.tiff
Final_Automatico_n22_full.tiff
Final_Automatico_nipponbare_dusk.tiff
Final_Automatico_n22_dusk.tiff
Final_Automatico_nipponbare_dawn.tiff
Final_Automatico_n22_dawn.tiff